.name-box {
    height: 3rem;
    background-image: -webkit-linear-gradient(90deg, #511a1a, #a65353);
    border: 1px solid #000;
    border-radius: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.unique-name-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin: 0 0.2rem 0 0.2rem;
    padding: 0;
}